	<!-- content -->
	<div th:fragment="content">
	
		<th:block th:replace="/web/component/index/WebSilder :: content"></th:block>
		<br />
		<!-- 广告 
		<th:block th:replace="/web/component/index/Index-Ad :: index-Ad"></th:block>
		-->
		<!-- 大牌-->
		<th:block th:replace="/web/component/index/Article-urltitle :: urltitle('health')"></th:block>
		<!-- 优惠-->
		<th:block th:replace="/web/component/index/Article-urltitle :: urltitle('motherandchild')"></th:block>
		<!-- 热门-->
		<th:block th:replace="/web/component/index/Article-urltitle :: urltitle('news')"></th:block>
		<br />
		
		<!-- 自有产品 -->
		<th:block th:replace="/web/component/index/Product-recommend :: product-recommend"></th:block>
		<!-- logo
		 -->
		<th:block th:replace="/web/component/index/Brand-recommend :: brand-recommend"></th:block>
		<!-- 热销品牌
		-->
		<th:block th:replace="/web/component/index/Product-hot :: product-hot"></th:block>
		
		<!-- logo
		<th:block th:replace="/web/component/index/Brand-self :: brand-self"></th:block>
		 -->
		<!-- 精选品牌
		 -->
		<th:block th:replace="/web/component/index/Product-frontpage :: product-frontpage"></th:block>
		 
		<!-- 合作伙伴-->
		<th:block th:replace="/web/component/index/Article-urltitle :: urltitle('partner')"></th:block>
		<!-- 大牌汇聚-->
		<th:block th:replace="/web/component/index/Article-urltitle :: urltitle('brands')"></th:block>
		
		
</div>
	
