
<!-- content -->
<div th:fragment="content" class="container">

	
	
	<div class="container" style="min-height:400px;" id="retrieve">
		<div class="row" style="margin-top: 40px;border-bottom:1px solid #e7e7e7;">
				<div class="col-sm-12 col-xs-12">
					<h3> 找回密码</h3>
				</div>

		</div>
		<br/>
		<div class="row" >
				<div class="col-sm-4 col-xs-4">
					<input class="form-control" placeholder="输入邮箱地址" v-model="inputData" >
				</div>
				<div class="col-sm-2 col-xs-2 ">
					<button class="btn btn-primary" @click="retrievePassword()">发送密码</button>
				</div>
		</div>
		<div class="row" >
				<div class="col-sm-12 col-xs-12 ">
					<div id="info"></div>
				</div>

		</div>
		
	</div>
	
	
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		           
		           
			new Vue({
				el:"#retrieve",
				data:{
					inputData:"",
				},
				created: function(){
				},
				methods:{
					retrievePassword: function(){
						var _this = this;
						if(_this.inputData.trim()==""){
							return ;
						}
						axios.get([[@{/forgot/password/retrieve}]],{
							params:{
								username:_this.inputData,
							}
						}).then(function (response){
							if(response.data==true){
								document.getElementById("info").innerHTML = "密码已经发送。";
							}
						  }).catch(function (error) {
						     console.log(error);
						  }); 
					}
				},
				
				
				
			});
		

		/*]]>*/
	</script>
</div>

