
<!-- content -->
<div th:fragment="content" class="container">

	
	
	<div class="container" style="min-height:400px;" id="coupon-content">
		
		<br/>
		<h3> 视频直播 </h3>
		<div class="row" >
				<div class="col-sm-12 col-xs-12">
					<embed align="middle" allowfullscreen="true" allowscriptaccess="always"  style="width: 70%;" height="400" mode="transparent" quality="high" src="http://yy.com/s/26659436/26659436/yyscene.swf" type="application/x-shockwave-flash" ></embed>
				</div>
				<br/>
		</div>
	</div>
	
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		           
			
		/*]]>*/
	</script>
</div>

