<div class="container-fluid" th:fragment="content">
	<script type="text/javascript" src="../../../static/plugin/ckeditor/ckeditor.js" th:src="@{/static/plugin/ckeditor/ckeditor.js}"></script>
	<script src="../static/plugin/jquery/jquery.validate.min.js" type="text/javascript" th:src="@{/static/plugin/jquery/jquery.validate.min.js}" charset="utf-8"></script>
	<script src="../static/plugin/jquery/additional-methods.min.js" type="text/javascript" th:src="@{/static/plugin/jquery/additional-methods.min.js}" charset="utf-8"></script>
	<script th:src="@{/static/templates/web/index/js/jquery-ui.min.js}" src="js/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/plugin/jquery/jquery-ui-1.9.2.custom.min.css" th:href="@{/static/plugin/jquery/jquery-ui-1.9.2.custom.min.css}"/>
	
	
	<br/>
		<div id="new-order">
			<div class="row" v-if="companyName!=''">
				<div class="col-sm-2 text-right">
					<label></label>
				</div>
				<div class="col-sm-8">
						<div >Company Name: <span v-html="companyName"></span></div>
						<div style="color: red;">Rank: <span v-html="rank"></span></div>
						<div style="color: red;">Discount: <span v-html="discount"></span></div>
						<div >Phone: <span v-html="companyPhone"></span></div>
						<div >Address: <span v-html="companyAddress"></span></div>
				</div>
			</div>
			<div class="row"  >
				<div class="col-sm-2 text-right">
					<label></label>
				</div>
				<div class="col-sm-8" >
					<table class="table">
						<tr v-for="p in products">
							<td>
								<span v-html="p.mpn + ' # ' + p.productName"></span>
							</td>
							<td>
								<!-- 
								Default: ${{p.price}}<br/>
								<span v-for="rankPrice in p.rankPriceList">
									{{rankPrice.rankLevel}}: ${{rankPrice.price}} <br/>
								</span>
								 -->
							</td>
							
							<td><span v-html="'$ '+ p.price1"></span></td>
							<td><input  type="number"  style="width: 80px;" min="1" :value="p.qty" @change="updateQty(p.id,$event)" /></td>
							<td><a href="javascipt:void(0);" @click="removeProduct(p.id)" >
				 				 <span class="fa-stack">
									  <i class="fa fa-square-o fa-stack-2x"></i>
									  <i class="fa fa-remove fa-stack-1x"></i>
									</span>
				 				</a>
				 			</td>
						</tr>
						<tr v-if="products.length>0">
							<td></td>
							<td></td>
							<td>Total: $ <span v-html="getTotalprice"></span></td>
							<td></td>
							<td></td>
						</tr>
						<tr v-if="gst>0">
							<td></td>
							<td></td>
							<td> + GST: $ <span v-html="gst"></span></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		
			
			<div class="row">
				<div class="col-sm-2 text-right">
					<label>Customer</label>
				</div>
				<div class="col-sm-8">
					<div class="form-group input-group" >
						<input class="form-control" autocomplete="off" id="companyName" placeholder="Company Name" v-model="companyName" @keypress="getCustomer()" type="text" name="companyName"  />
						<input type="hidden" v-model="customerId" name="customerId"  />
						
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2 text-right">
					<label>Product</label>
				</div>
				<div class="col-sm-8">
					<div class="form-group input-group" >
						<input class="form-control"  id="productName" v-model="searchQ"  placeholder="Product" type="text" name="productName"  @keyup="getProduct()"  @change="getProduct()"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 text-right">
					<label>GST</label>
				</div>
				<div class="col-sm-8">
					<div class="form-group input-group" >
						<input  type="checkbox" checked="checked" id="gst-check"   @change="gstCaculate($event)" />&nbsp;&nbsp;
						<label for="gst-check">GST include</label>
					</div>
				</div>
			</div>
			<div class="row" >
				<div class="col-sm-2 text-right">
					<label>Admin msg</label>
				</div>
				<div class="col-sm-8">
						<textarea class="form-control" rows="3" cols="" v-model="adminMsg"></textarea>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-2 col-sm-offset-2">
					<div class="form-group input-group">
						<button class="btn btn-primary" @click="saveOrder()">Submit</button>
					</div>
				</div>
			</div>
		</div>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		new Vue({
			el : '#new-order',
			data : {
				companyName:'',
				companyPhone:'',
				companyAddress:'',
				discount:'',
				rank:'',
				rankCustomerId:'',

				customerId:'',
				adminMsg:'',
				
				products:[],
				
				productId:'',
				
				searchQ:'',
				
				totalPrice: 0,
				gst: 0,
				
			},
			created() {
				var _this = this;
			},
			computed : {
				getTotalprice :function(){
					var total = 0;
					var _this = this;
					if(_this.products.length>0){
						_this.products.map((item) => {total += item.qty*item.price1;})
					}
					_this.totalPrice = (total*_this.discount).toFixed(2);
		            return _this.totalPrice;
				}
			},
			methods:{
				getCustomer : function(){
					var _this = this;
					axios.get([[@{/management/customer/q}]], {
					    params: {
					    	q:_this.companyName,
							size:10,
					    }
					  })
					  .then(function (response){
					   		var customerList = response.data;
							var availableTags = new Array();
							for(var i=0;i<customerList.length;i++){ 
								if(customerList[i].customer.companyName !=null){
									availableTags.push(customerList[i].customer.companyName + ' # ' +customerList[i].customer.phone);
								}
						    }
							$("#companyName" ).autocomplete({
								autoFocus: true,
								source: availableTags,
								select: function(event, ui){
									for(var i=0;i<customerList.length;i++){  
										if((customerList[i].customer.companyName + ' # ' +customerList[i].customer.phone)==ui.item.value){
											_this.customerId = customerList[i].customer.id;
											
											_this.companyName = customerList[i].customer.companyName;
											_this.companyPhone = customerList[i].customer.phone;
											_this.companyAddress = customerList[i].customer.address;
											_this.discount = customerList[i].customer.discount;
											_this.rank = customerList[i].rankCustomer.rankLevel;
											_this.rankCustomerId = customerList[i].rankCustomer.id;
											
											break;
										}
								    }
								}
							});
					   	})
					  .catch(function (error) {
					    	console.log(error);
					  });
				},
				//获取产品
				getProduct : function(){
					var _this = this;
					axios.get([[@{/api/management/order/new/product/q}]], {
						params: {
							q:_this.searchQ,
							size:10,
					    }
					  })
					  .then(function (response){
						  var productList = response.data;
						  var availableTags = new Array();
							for(var i=0;i<productList.length;i++){ 
								if(productList[i].product.productName !=null){
									availableTags.push(productList[i].product.mpn + ' # ' + productList[i].product.productName + ' # ' + productList[i].product.productNameAlias) ;
								}
						    }
							
							$("#productName" ).autocomplete({
								autoFocus: true,
								source: availableTags,
								select: function(event, ui){
									
									for(var i=0;i<productList.length;i++){
										if((productList[i].product.mpn + ' # ' + productList[i].product.productName + ' # ' + productList[i].product.productNameAlias)==ui.item.value){
											productList[i].product.qty = 1;
											productList[i].product.price = productList[i].product.price1;
											
											for(var j=0;j<productList[i].rankPriceList.length;j++){
												if(productList[i].rankPriceList[j].rankCustomerId==_this.rankCustomerId){
													productList[i].product.price1 = productList[i].rankPriceList[j].price;
													break;
												}
											}
											productList[i].product.rankPriceList = productList[i].rankPriceList;
											_this.products.push(productList[i].product);
											ui.item.value = "";
											_this.searchQ = "";
											break;
										}
								    }
								},
								
							});
					  })
					  .catch(function (error) {
					     console.log(error);
					  });  
				},
				//删除产品
				removeProduct : function(productId){
					var _this = this;
					for(var i=0;i<_this.products.length;i++){  
						if(_this.products[i].id==productId){
							_this.products.splice(i,1);
						}
					}
				},
				//更新数量
				updateQty : function(productId,event){
					var _this = this;
					for(var i=0;i<_this.products.length;i++){  
						if(_this.products[i].id==productId){
							_this.products[i].qty = event.currentTarget.value;
						}
					}
				},
				
				//计算GST
				gstCaculate : function(event){
					
					var _this = this;
					if(event.currentTarget.checked){
						_this.gst = 0;
					}else{
						var total = 0;
						if(_this.products.length>0){
							_this.products.map((item) => {total += item.qty*item.price1})
						}
						_this.gst = (total*_this.discount*0.15).toFixed(2);
					}
					
				},
				
				//保存订单
				saveOrder : function(){
					var _this = this;
					if(_this.customerId==''){
						return;
					}
					if(_this.products.length==0){
						return;
					}
					var paramProduct = [];
					for(var i=0;i<_this.products.length;i++){  
						
						paramProduct.push(_this.products[i].id + ":" + _this.products[i].qty + ":" + _this.products[i].price1);
					}
					
					var params = new URLSearchParams();
					params.append('customerId',_this.customerId);			
					params.append('gst',_this.gst);			
					params.append('products',paramProduct);
					params.append('adminMsg',_this.adminMsg);
					
					axios.post([[@{/management/order/add/save}]], params).then(function(response){
					     window.location.reload();
					  })
					  .catch(function (error) {
					     console.log(error);
					  }); 
					
				}
			}
		})
		/**
		新增customer
		**/
		function newOpen(){
			window.open([[@{/management/customer/new}]],'newwindow','height=600,width=1000,toolbar=no,menubar=no,scrollbars=no, resizable=no,location=no, status=no');
		}
		  
		/*]]>*/	
	</script>
	<style>
		.input-group{
			width: 100%;
		}
	</style>
</div>