<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <th:block th:replace="/web/fragment/f-js-css :: public-css-js"></th:block>
        <script src="#" type="text/javascript" th:src="@{/static/plugin/vue/vue.js}" charset="utf-8"></script>
		<script src="#" type="text/javascript" th:src="@{/static/plugin/vue/axios.min.js}" charset="utf-8"></script>
		<script src="#" type="text/javascript" th:src="@{/static/plugin/vue/vue-form.js}" charset="utf-8"></script>
    </head>

<body>

	<header th:replace="/web/fragment/f-header :: header"></header>
	
	<div th:replace="/web/product/fragment/list-content :: content"></div>
	
	<br/>
	<footer  id="footer-div"  ></footer>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
    	$(document).ready(function(){
	         
			$("#footer-div").load([[@{/footer/nav}]]);
	    	$.get([[@{/log/pv/save}]]);
		});
	/*]]>*/	
	</script>
</body>
</html>