<div class="container-fluid " style="padding: 0 ; margin: 0 ;"  th:fragment="content(order,orderItemList)">

<style>
		.td-bottom {
			border-bottom: 1px solid #ddd;
			padding: 0 ; margin: 0 ;
			border-bottom: 1px solid;
		}
		
</style>
	
    <div class="row td-bottom" style="padding: 0 ; margin: 0 ;">
    	<div class="col-xs-12" style="padding: 0 ; margin: 0 ;">
    		<h3><span th:text="${userCompany.name}"></span></h3>
    	</div>
    	<div class="col-xs-12" style="padding: 0 ; margin: 0 ;">
    			GST:<span th:text="${userCompany.gstNo}"></span><br />
		 			Tel:<span th:text="${userCompany.tel}"></span><br />
		 			<span th:text="${userCompany.website}"></span><br />
		 			<span th:text="${userCompany.email}"></span>
    	</div>
    	<div class="col-xs-12" style="padding: 0 ; margin: 0 ;">
			<span th:text="${#dates.format(order.createTime, 'HH:mm dd/MM/yyyy')}" ></span>	 	<br/>
			
			Invoice ID # <span th:text="${order.id}"></span>
    	</div>
	</div>
	<br/>
	<div class="row" style="padding: 0 ; margin: 0 ;">
    	<div class="col-xs-8" style="padding: 0 ; margin: 0 ;">
    		Name
    	</div>
    	<div class="col-xs-2" style="padding: 0 ; margin: 0 ;">
    		Qty.
    	</div>
    	<div class="col-xs-2" style="padding: 0 ; margin: 0 ;">
    		Price
    	</div>
    </div>
	<div class="row td-bottom" style="padding: 0 ; margin: 0 ;">
			<th:block th:each="orderItem : ${orderItemList}" >
					<div class="col-xs-8"  style="padding: 0 ; margin: 0 ;">
						<span th:text="${orderItem.productNameCn}"></span>
					</div>
					<div class="col-xs-2" style="padding: 0 ; margin: 0 ;">
						$<span th:text="${orderItem.productPrice}"></span>*<span th:text="${#numbers.formatDecimal(orderItem.num,0,0)}"></span><br/>
					</div>
					<div class="col-xs-2"  style="padding: 0 ; margin: 0 ;">
						$<span th:text="${#numbers.formatDecimal(orderItem.productPrice*orderItem.num,0,2)}"></span>
					</div>
				</th:block>
	
    </div >
        	
	<div class="row" style="padding: 0 ; margin: 0 ;">
    	<div class="col-xs-10 text-right" style="padding: 0 ; margin: 0 ;">
    		SUBTOTAL: &nbsp;&nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="col-xs-2 " style="padding: 0 ; margin: 0 ;">
    		 $<span th:text="${#numbers.formatDecimal(order.totalProductPrice*0.85,0,2)}"></span>
    	</div>
    	<div class="col-xs-10 text-right" style="padding: 0 ; margin: 0 ;">
    		GST: &nbsp;&nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="col-xs-2" style="padding: 0 ; margin: 0 ;">
    		 $<span th:text="${#numbers.formatDecimal(order.totalProductPrice*0.15,0,2)}"></span>
    	</div>
    	
    	<div class="col-xs-10 text-right" style="padding: 0 ; margin: 0 ;">
    		TOTAL: &nbsp;&nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="col-xs-2" style="padding: 0 ; margin: 0 ;">
    		 $<span th:text="${#numbers.formatDecimal(order.totalProductPrice,0,2)}"></span>
    	</div>
    </div>
				
        	
    
	
	
</div>