<div class="container-fluid " style=" margin: 0 auto;padding-left:0px; padding-right: 15px;"  th:fragment="content(order,orderItemList)">

<style>
		.td-bottom {
			border-bottom: 1px solid black;
		}
		
</style>
	
    <div class="row td-bottom" style="">
    	<div class="col-xs-12" >
    		<h3><span th:text="${userCompany.name}"></span></h3>
    	</div>
    	<div class="col-xs-12" >
    			GST:<span th:text="${userCompany.gstNo}"></span><br />
		 			Tel:<span th:text="${userCompany.tel}"></span><br />
		 			Website:<span th:text="${userCompany.website}"></span><br />
		 			Email:<span th:text="${userCompany.email}"></span>
    	</div>
    	<div class="col-xs-12" >
			<span th:text="${#dates.format(order.createTime, 'HH:mm dd/MM/yyyy')}" ></span>	 	<br/>
			
			Invoice ID # <span th:text="${order.id}"></span>
    	</div>
	</div>
	<br/>
	<div class="row " style="padding-right: 15px;">
    	<div class="col-xs-7" >
    		Name
    	</div>
    	<div class="col-xs-3" >
    		Qty.
    	</div>
    	<div class="col-xs-2" >
    		Price
    	</div>
    </div>
	<div class="row td-bottom" style="font-size: 12px; padding-right: 15px;">
			<th:block th:each="orderItem : ${orderItemList}" >
					<div class="col-xs-7"  >
						<span th:text="${orderItem.productNameCn}"></span>
					</div>
					<div class="col-xs-3" >
						$<span th:text="${orderItem.productPrice}"></span>*<span th:text="${#numbers.formatDecimal(orderItem.num,0,0)}"></span><br/>
					</div>
					<div class="col-xs-2"  >
						$<span th:text="${#numbers.formatDecimal(orderItem.productPrice*orderItem.num,0,2)}"></span>
					</div>
				</th:block>
	
    </div >
        	
	<div class="row" style=" padding-right: 15px;">
    	<div class="col-xs-10 text-right" >
    		SUBTOTAL: &nbsp;&nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="col-xs-2 " >
    		 $<span th:text="${#numbers.formatDecimal(order.totalProductPrice*0.85,0,2)}"></span>
    	</div>
    	<div class="col-xs-10 text-right" >
    		GST: &nbsp;&nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="col-xs-2" >
    		 $<span th:text="${#numbers.formatDecimal(order.totalProductPrice*0.15,0,2)}"></span>
    	</div>
    	
    	<div class="col-xs-10 text-right" >
    		TOTAL: &nbsp;&nbsp;&nbsp;&nbsp;
    	</div>
    	<div class="col-xs-2" >
    		 $<span th:text="${#numbers.formatDecimal(order.totalProductPrice,0,2)}"></span>
    	</div>
    </div>
				
	
</div>