

<th:block th:fragment="sideBar" >
<div  class="hidden-xs">
<link rel="stylesheet" href="css/style.css" th:href="@{/static/templates/web/sidebar/css/style.css}" type="text/css" />

	<script type="text/javascript">
	$(document).ready(function(){
		$(".side ul li").hover(function(){
			$(this).find(".sidebox").stop().animate({"width":"124px"},200).css({"opacity":"1","filter":"Alpha(opacity=100)","background":"#357363"})	
		},function(){
			$(this).find(".sidebox").stop().animate({"width":"54px"},200).css({"opacity":"0.8","filter":"Alpha(opacity=80)","background":"#000"})	
		});
		
	});
	
	//回到顶部
	function goTop(){
		$('html,body').animate({'scrollTop':0},600);
	}
	</script>


	<div class="side">
		<ul>
			<li><a th:href="@{/cart}" ><div class="sidebox"><img th:src="@{/static/templates/web/sidebar/img/side_icon01.png}" />购物车</div></a></li>
			<li><a th:href="@{/article/category/155}"><div class="sidebox"><img th:src="@{/static/templates/web/sidebar/img/side_icon02.png}" />联系我们</div></a></li>
			<li><a th:href="@{/coupons}" target="_blank" ><div class="sidebox"><img th:src="@{/static/templates/web/sidebar/img/side_icon03.png}" />新手礼包</div></a></li>
			<li><a th:href="@{/tv/show}" target="_blank" ><div class="sidebox"><img th:src="@{/static/templates/web/sidebar/img/side_icon04.png}" />直播间</div></a></li>
			<li style="border:none;"><a href="javascript:goTop();" class="sidetop"><img th:src="@{/static/templates/web/sidebar/img/side_icon05.png}" /></a></li>
		</ul>
</div>
</div>
</th:block>
