	<th:block th:fragment="content(categoryId)" >
		
		
	<div id="category"  >
		<span class="col-xs-6 col-sm-2 c-title" v-for="item in subCategoryList">
			<a style="color: #666;font-size: 14px;line-height: 30px;":href="'/product/category/' + item.id" >{{item.name}}</a>
		</span>
	</div>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			new Vue({
			el : '#category',
			data : {
				subCategoryList:[
				]
			},
			created: function() {
				var _this = this;
				axios.get([[@{/api/product/category/fatherId/}]] +[[${categoryId}]], {
				    params: {
				     
				    }
				  })
				  .then(function (response){
					  _this.subCategoryList = response.data;
				  })
				  .catch(function (error) {
				    console.log(error);
				  }); 
			}
		})
	/*]]>*/
</script>
</th:block>