
<!-- content -->
<div th:fragment="content" class="container">

	<div id="cart-detail" class="container" >
		<div class="row" style="margin-top: 40px;border-bottom:1px solid #e7e7e7;">
			<div class="col-sm-6 text-left">
				<h4>
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; 我的购物车
				</h4>
			</div>
			<div class="col-sm-6 text-right">
				<h4>
					<span>数量：{{totalNum}}  &nbsp;	&nbsp;	&nbsp;	</span>
				</h4>
				
			</div>
		</div>
			
		<div class="row" v-for="product in productList" style="padding: 10px 0;border-bottom:1px solid #e7e7e7;" >
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-3 text-left block-center">
					<a :href="'/product/'+product.id"  target="_blank">
						<img src="#" href="" :src="'/' + product.defaultSrc"  class="img-responsive img-thumbnail"  style="max-width: 80px;" />
						</a>
				</div>
				<div class="col-sm-8 col-sm-offset-1 ">
						<a :href="'/product/' + product.id" target="_blank"><span> {{product.productName}}</span></a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-6">
				<div class="col-sm-6 text-right">
						<span class=" "> $ {{product.price}}</span>
				</div>
				<div class="col-sm-6  text-right">
					<span>
						<input type="number" step="1" min="1"  @click="updateNum(product.id,$event)"  @change="updateNum(product.id,$event)"  v-model="product.num"  style="width: 100px;" /> 
					</span>
					<span>
						&nbsp;<a href="javascript:void(0)" @click="del(product.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 text-right">
				<h4>
					运费: &nbsp;<span class="color"> ${{freight}}</span>
				</h4>
				<h4>
					合计: &nbsp;<span class="color"> ${{totalAmount}}</span>
				</h4>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-12 text-right">
				<div class="create_btn">
					<a th:href="@{/customer/cart/next}" >下一步</a>
				</div>
			</div>
		</div>
		<br/>
	</div>
	
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		/**
		 **/
		new Vue({
			el : '#cart-detail',
			data : {
				productList:[],
				totalNum:0,
				totalAmount:0,
				freight:0,
			},
			created: function() {
				var ShoppingCart = utils.getParam("ShoppingCart");
				
				var _this = this;
				_this.productList = cart.getproductlist();
				if(_this.productList!=null){
					for(var i=0;i< _this.productList.length;i++){
						  if (!isNaN(_this.productList[i].price)) {
							  _this.productList[i].price = _this.productList[i].price.toFixed(2);
					        }
						  
					  }
				}
				_this.totalNum = getTotalNumber();
				_this.totalAmount = getTotalAmount();
				_this.freight = getFreight(cart.getproductlist());
			},
			methods:{
				updateNum : function(id,event){
					var _this = this;
					//更新localstorage
					if(id==null){
						return;
					}
					if(event.currentTarget.value<1){
						event.currentTarget.value = 1;
						return;
					}
					cart.updateproductnum(id,event.currentTarget.value);
					var totalNumber = getTotalNumber();
					var totalAmount = getTotalAmount();
					$(".totalNum").html(totalNumber);
					$("#totalAmount").html(totalAmount);
					//更新页面值
					_this.totalNum = totalNumber;
					_this.totalAmount = totalAmount;
					_this.freight = getFreight(cart.getproductlist());
				},
				del : function(id){
					var _this = this;
					if(confirm("Delete?")){
						cart.deleteproduct(id);
						window.location.reload();
					}
				}
			}
		})
		
		/*]]>*/
	</script>
</div>

