
<!-- content -->
<div th:fragment="content" class="container">
	<link rel="stylesheet" type="text/css" href="../static/plugin/jquery/jquery-ui-1.9.2.custom.min.css" th:href="@{/static/plugin/jquery/jquery-ui-1.9.2.custom.min.css}"/>
	
	
	<div class="container" id="order-content" >
		<form name="form" >
		<div class="row" style="margin-top: 40px;border-bottom:1px solid #e7e7e7;">
			<div class="col-xs-6 col-sm-6 text-left">
				<h4>
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; 我的购物车
				</h4>
			</div>
			<div class="col-xs-6 col-sm-6 text-right">
				<h4>
					<span> 数量：{{totalNum}} </span>
				</h4>
				
			</div>
		</div>
			
		<div class="row" v-for="product in productList" style="padding: 10px 0;border-bottom:1px solid #e7e7e7;">
			<div class="col-xs-6 col-xs-6">
				<div class="col-sm-3  col-xs-4 text-left block-center">
					<a :href="'/product/'+product.id"  target="_blank">
					<img src="#" href="" :src="'/'+product.defaultSrc"  class="img-responsive img-thumbnail"  style="max-width: 80px;" />
					</a>
				</div>
				<div class="col-sm-8 col-xs-8 col-sm-offset-1 ">
						<a :href="'/product/'+product.id" target="_blank"><span>{{product.productName}}</span></a>
				</div>
			</div>
			<div class="col-xs-6 col-xs-12">
				<div class="col-sm-12 col-xs-12 text-right ">
						<span class="col-sm-6" >
							{{product.num}}
						</span>
						
						<span class="col-sm-6 text-right"> $ {{product.price}}</span>
				</div>
			</div>
		</div>
		<br/>
		<!-- 优惠券 -->
		<div class="row">
		
			<div v-for="couponCustomer in webCustomerCouponList" class="col-sm-2 col-xs-6"  >
				<div :class="{'coupon-unselect':true}" v-if="couponCustomer.coupon.reg <= totalAmount"  @click="selectCoupon(couponCustomer.coupon.id,couponCustomer.coupon.value,$event)">
					{{couponCustomer.coupon.name}}<br/>
					{{couponCustomer.coupon.value}}<br/>
					最低可用金额  NZD:{{couponCustomer.coupon.reg}}
				</div>
				<div :class="{'coupon-unselect':true}" v-if="couponCustomer.coupon.reg > totalAmount">
					{{couponCustomer.coupon.name}}<br/>
					{{couponCustomer.coupon.value}}<br/>
					最低可用金额  NZD:{{couponCustomer.coupon.reg}}
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 text-right">
				<div class="create_btn"  v-if="webCustomerCouponList.length>0">
						<a class="arrow" href="#" onclick="javascript:window.location.reload();">取消优惠券
						</a>
					</div>
				<br/>
				<h4 >
					产品:&nbsp;<span class="color"> ${{totalAmount}}</span>
				</h4>
				<h4>
					运费: &nbsp;<span class="color"> ${{freight}}</span>
				</h4>
				<h4>
					合计: &nbsp;<span class="color"> ${{(parseFloat(totalAmount) +  parseFloat(freight)).toFixed(2) }}</span>
				</h4>
			</div>
		</div>
		<br/>
		
		
		<br/>
		<div class="row">
			<div class="col-sm-2 text-right">
				<label id="name-label"> 联系人姓名：</label>
			</div>
			<div class="col-sm-10 ">
				<input class="form-control" placeholder="Name" ref="toCustomerName" v-model="toCustomerName"   />
			</div>
		</div>
		<br/>
		
		<div class="row">
			<div class="col-sm-2 text-right">
				<label id="phone-label">电话：</label>
			</div>
			<div class="col-sm-10 ">
				<input placeholder="Phone"  name="toPhone"  v-model="toPhone" ref="toPhone"  class="form-control" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-2  text-right">
				<label id="address-label">地址：</label>
			</div>
			<div class="col-sm-10 " data-toggle="distpicker">
				<div class="col-sm-3" style="margin-left:  -15px;">
					<select class="form-control " v-model="toProvince" ref="toProvince" :data-province="toProvince">
					</select>
				</div>
				<div class="col-sm-3">
		        	<select class="form-control " v-model="toCity" ref="toCity" :data-city="toCity"></select>
				</div>
				<div class="col-sm-3">
		        	<select class="form-control " v-model="toDistrict" ref="toDistrict" :data-district="toDistrict"></select>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-2 text-right">
				<label></label>
			</div>
			<div class="col-sm-10 ">
				<input placeholder="收件地址" v-model="toShippingAddress"  ref="toShippingAddress" class="form-control"  />
				
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-2 text-right">
				<label> 留言:</label>
			</div>
			<div class="col-sm-10 ">
				<textarea class="form-control"  v-model="customerMsg" rows="" cols="" style="width: 100%" placeholder="留言......"></textarea>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-12 text-right">
				<div class="create_btn">
					<a  @click="placeorder()" style="cursor: pointer;"  >下单</a>
				</div>
			</div>
		</div>
		<br/>
		</form>
	</div>
	
	
	<style>
		.coupon-list {
			padding: 5px ;
			transition: all .5s;
			border: 1px solid #eee;
			cursor: pointer;
		}
		
		.coupon-list:HOVER {
			box-shadow: -3px 0 5px #9FA8AB, 0 -3px 5px #9FA8AB, 0 3px 5px #9FA8AB,3px 0 5px #9FA8AB;
		}
		.coupon-select{
			border: 2px solid #357363;
			cursor: pointer;
		}
		.coupon-unselect{
			border: 1px solid #e7e7e7;
			cursor: pointer;
		}
		
		
	</style>
	<!-- 省市区 -->
	<script  type="text/javascript" th:src="@{/static/plugin/distpicker/distpicker.min.js}" charset="utf-8"></script>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		new Vue({
			el : '#order-content',
			data : {
				productList:[],
				customer:{},
				
				totalNum:0,
				totalAmount:0,
				freight:0,
				toCustomerName:'',
				toCustomerCompanyName:'',
				toTel:'',
				toPhone:'',
				toAddress:'',
				toShippingAddress:'',
				customerMsg:'',
				toProvince:'',
				toCity:'',
				toDistrict:'',
				webCustomerCouponList:[],
				couponId:0,
				
			},
			created: function() {
				var _this = this;
				_this.productList = cart.getproductlist();
				
				 for(var i=0;i< _this.productList.length;i++){
					  if (!isNaN(_this.productList[i].price)) {
						  if (!isNaN(_this.productList[i].price)) {
							   var formatedPrice = parseFloat(_this.productList[i].price).toFixed(2);
							  _this.productList[i].price = formatedPrice; 
					        }
				        }
					  
				  }
			 	_this.freight = getFreight(cart.getproductlist());	
				_this.totalNum = getTotalNumber();
				_this.totalAmount = getTotalAmount();
				_this.customer = [[${customer}]];
				
				_this.toCustomerName = [[${customer.name}]] +"";
				_this.toCustomerCompanyName = [[${customer.companyName}]]+"" ;
				_this.toTel = [[${customer.tel}]]+"" ;
				_this.toPhone = [[${customer.phone}]]+"" ;
				_this.toAddress = [[${customer.address}]] +"" ;
				_this.toShippingAddress = [[${customer.shippingAddress}]]+"";
				
				_this.toProvince = [[${customer.province}]]+"";
				_this.toCity = [[${customer.city}]]+"";
				_this.toDistrict = [[${customer.district}]]+"";
				
				//获取可用优惠券
				var _this = this;
				axios.get([[@{/customer/cart/coupon}]] , {
				    params: {
				     
				    }
				  })
				  .then(function (response){
					  _this.webCustomerCouponList = response.data;
				  })
				  .catch(function (error) {
				    console.log(error);
				  }); 
				
			},
			methods:{
				
				placeorder : function(){
					if(cart.getproductlist()==null){
						return;
					}
					var _this = this;
					
					alert(_this.toCustomerName);
					if(_this.toCustomerName.trim()==""){
						this.$refs.toCustomerName.focus();
						return;
					}
					if(_this.toPhone.trim()==""){
						this.$refs.toPhone.focus();
						return;
					}
					
					if(_this.toProvince.trim()==""){
						this.$refs.toProvince.focus();
						return;
					}
					if(_this.toCity.trim()==""){
						this.$refs.toCity.focus();
						return;
					}
					if(_this.toDistrict.trim()==""){
						this.$refs.toDistrict.focus();
						return;
					}
					if(_this.toShippingAddress==""){
						this.$refs.toShippingAddress.focus();
						return;
					}
					
					
					var usp = new URLSearchParams();
					usp.append("productList",JSON.stringify(cart.getproductlist()));
					
					usp.append("toCustomerName",_this.toCustomerName + "");
					usp.append("toCustomerCompanyName",_this.toCustomerCompanyName+"");
					usp.append("toTel",_this.toTel+"");
					usp.append("toPhone",_this.toPhone+"");
					usp.append("toAddress",_this.toAddress+"");
					usp.append("toShippingAddress",_this.toShippingAddress+"");
					usp.append("customerMsg",_this.customerMsg+"");
					
					usp.append("toProvince",_this.toProvince+"");
					usp.append("toCity",_this.toCity+"");
					usp.append("toDistrict",_this.toDistrict+"");
					usp.append("couponId",_this.couponId+"");
					usp.append("totalFreight",_this.freight+"");
					
					axios.post([[@{/customer/cart/order/place}]],
							usp,).then(function (response){
							if(response.data.id>0){
								 localStorage.setItem('totalNumber',0);
								 localStorage.setItem('totalAmount',0);
								 localStorage.removeItem('ShoppingCart');
								window.location.href = [[@{/customer/cart/order/place/}]] + response.data.id;
							}
					  }).catch(function (error) {
					     console.log(error);
					  }); 
					
				},
				//选择优惠券
				selectCoupon : function(couponId,value,event){
					
					var x = document.getElementsByClassName("coupon-select");
					for(var i=0;i<x.length;i++){
						x[i].className="coupon-unselect";
					}
					
					var _this = this;
					_this.couponId = couponId;
					_this.totalAmount = getTotalAmount();
					_this.totalAmount = (_this.totalAmount-value).toFixed(2);
					var el = event.currentTarget;
					el.className = "coupon-select";
				}
			}
		})

		/*]]>*/
	</script>
	
</div>

