
<!-- content -->
<div th:fragment="content" class="container">

	
	
	<div class="container" style="min-height:400px;" id="payment">
		<div class="row" style="margin-top: 40px;border-bottom:1px solid #e7e7e7;">
			<h3>已下单，支付成功请刷新页面。</h3> 
			订单号:<th:block th:text="${order.id}"></th:block> &nbsp;&nbsp;&nbsp; 
			总价格(纽币) $:<th:block th:text="${#numbers.formatDecimal((order.totalProductPrice + order.totalFreight),1,2)}"></th:block>
			&nbsp;&asymp;&nbsp;<span  style="color: #e4393c;font-size: 12px;" >RMB</span><span th:text="${#numbers.formatDecimal((order.totalProductPrice + order.totalFreight)*rate,0,2)}" style="color: #e4393c;font-size: 18px;">约等于</span>
		</div>
		<br/>
		<div class="row" th:if="${order.status!=1}">
			<div class="col-sm-3 col-xs-6 text-center" >
				<div class="create_btn">
<!-- 					<a v-on:click="wechatPay()" style="cursor: pointer;"  >微信支付</a><br/><br/> -->
					<a  style="cursor: pointer;"  >微信支付</a><br/><br/>
					<img  th:src="|@{/customer/payment/wechat/}${order.id}|"   width="150" height="150"/><br />
				</div>
			</div>
			
			<div class="col-sm-3 col-xs-6 text-center">
				<div class="create_btn">
					<a v-on:click="alipayPay()" style="cursor: pointer;"  >支付宝支付</a>
				</div>
			</div>
		</div>
		<div class="row" th:if="${order.status==1}">
			<h4>支付成功。</h4>
		</div>
		<br/>
		
	</div>
	
	
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		           
		        var orderId = [[${order.id}]];
		        
				new Vue({
					el:"#payment",
					data:{
						
					},
					created: function(){
						
					},
					methods:{
						wechatPay : function(){
							axios.get([[@{/customer/payment/wechat/}]] + orderId,{
							}).then(function (response){
								  window.open(response.data,"newwindow");
									
							  }).catch(function (error) {
							     console.log(error);
							  }); 
						},
						alipayPay : function(){
							axios.get([[@{/customer/payment/alipay/}]] + orderId,{
							}).then(function (response){
								  console.log(response.data);
								  window.open(response.data,"newwindow");
									
							  }).catch(function (error) {
							     console.log(error);
							  }); 
						}
					},
					
					
					
				});
		

		/*]]>*/
	</script>
</div>

