<div th:fragment="left-menu(menuName)">
	<a th:href="@{/customer/info}" th:class="${menuName!='info'}?customter-menu-inactive" >用户信息</a>
	<br/>
	<br/>
	<a th:href="@{/customer/history}" th:class="${menuName!='history'}?customter-menu-inactive"  >历史订单</a>
	<br/>
	<br/>
	<a th:href="@{/customer/commission}" th:class="${menuName!='payment'}?customter-menu-inactive" th:if="${customer.customerType=='sales'}">Commission</a>
	
	<style>
		.customter-menu-active{
			color: blue;
		}
		.customter-menu-inactive{
			color: #383334;
		}
	</style>
</div>