<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
 <th:block th:replace="/administrator/fragment/f-js-css :: public-css-js"></th:block>
<title><span th:replace="/administrator/fragment/f-company-name :: companyname"></span> | Invoice</title>
</head>
<body>
<style>
		.td-bottom {
			border-bottom: 1px solid #ddd;
		}
</style>
		<!--startprint-->
	<div th:each=" invoiceView : ${invoiceViewList}">
		<table style="width: 100%;">
			<thead>
			<tr style="text-align: right;">
					<td>
					<img width="200" th:src="|${urlprefix}/static/templates/web/logo.png|" />
					</td>
				</tr>
				
			</thead>
		</table>
		<table style="width: 100%;">
			<tr>
				<td width="50%">
					<h2>CREDIT NOTE</h2>
					<table style="padding-left: 20px;">
						<thead>
							<tr>
								<td>
									<table style="text-align: left;width: 100%;">
										<tr>
											<td th:text="${invoiceView.invoice.customerCompanyName}"></td>
										</tr>
										<tr>
											<td th:text="${invoiceView.invoice.customerEmail}"></td>
										</tr>
										<tr>
											<td th:text="${invoiceView.invoice.customerCompanyPhone}"></td>
										</tr>
										<tr>
											<td th:text="${invoiceView.invoice.customerCompanyAddress}"></td>
										</tr>
									</table>
								</td>
							</tr>
						</thead>
					</table>
				</td>
								
				<td width="50%">
					<div style="float:left;">
						<p>
							<span style="font-weight: bold;">Date</span><br/>
							<span  th:text="${#dates.format(invoiceView.invoice.modifyTime, 'dd/MM/yyyy')}"></span>
						</p>
							<br/>
						<p>
							<span style="font-weight: bold;">Credit Note Number</span><br/>
							<span th:text="${invoiceView.invoice.aliasId}"></span>
						</p>
						
					</div>
					<div style="float:left;padding-left:30px;">
						<p th:text="${invoiceView.invoice.userCompanyName}"></p> 
						<p th:text="${invoiceView.invoice.userCompanyAddress}"></p> 
						<p ><span th:text="${invoiceView.invoice.userCompanyTel}"></span></p> 
						<p >GST:<span th:text="${invoiceView.invoice.userCompanyGstNo}"></span></p> 
					</div>
				</td>
			</tr>
		</table>
		
		
		<div style="height: 30px;"></div>
		<table style="width: 100%;" >
			<thead>
				<tr>
<!-- 					<th class="td-bottom" style="width: 30%;">Name</th> -->
					<td colspan="2" class="td-bottom" style="width: 55%;">Description(name,alias,mpn)</td>
					<td class="td-bottom" style="width: 15%;">Qty.</td>
					<td class="td-bottom" style="width: 15%;text-align: right;">Unit Price</td>
					<td class="td-bottom" style="width: 15%;text-align: right;">Amount</td>
				</tr>
			</thead>
			<tr th:each="invoiceItem : ${invoiceView.invoiceItemList}">
				<!-- <td ><span th:text="${invoiceItem.title}"></span></td> -->
				<td class="td-bottom" colspan="2">
					<span th:text="${invoiceItem.title}"></span>
					<span th:text="${invoiceItem.description}"></span>
				</td>
				<td class="td-bottom"><span th:text="${-1*invoiceItem.quantity}"></span></td>
				<td class="td-bottom" style="text-align: right;"><span th:text="${invoiceItem.unitPrice}"></span></td>
				<td class="td-bottom" style="text-align: right;"><span th:text="${#numbers.formatDecimal(-1*invoiceItem.unitPrice*invoiceItem.quantity,1,2)}"></span></td>
			</tr>
			
			<tr>
				<td class="" colspan="3" ></td>
				<td style="text-align: right;">Subtotal</td>
				<td style="text-align: right;"><span th:text="${#numbers.formatDecimal(-1*invoiceView.invoice.total-invoiceView.invoice.gst-invoiceView.invoice.freight,1,2)}"></span></td>
			</tr>
			<tr>
				<td  class="" colspan="3" ></td>
				<td style="text-align: right;">Freight</td>
				<td style="text-align: right;"><span th:text="${#numbers.formatDecimal(-1*invoiceView.invoice.freight,1,2)}"></span></td>
			</tr>
			<tr>
				<td class=""  colspan="3" ></td>
				<td style="text-align: right;border-bottom: 1px solid black;">TOTAL GST 15%</td>
				<td  style="text-align: right;border-bottom: 1px solid black;" ><span th:text="${#numbers.formatDecimal(-1*invoiceView.invoice.gst,1,2)}"></span></td>
			</tr>
			<tr>
				<td class="" colspan="3" style="text-align: right;border-bottom: 0;"></td>
				<td class="" style="text-align: right;border-bottom: 0;" >TOTAL NZD</td>
				<td style="text-align: right;border-bottom: 0;">
					<span th:text="${#numbers.formatDecimal(-1*invoiceView.invoice.total,1,2)}"></span>
				</td>
			</tr>
			<tr>
				<td class="" colspan="3" style="text-align: right;border-bottom: 0;"></td>
				<td  style="text-align: right;border-bottom: 1px solid black;" >Credit to Invoice(s)</td>
				<td  style="text-align: right;border-bottom: 1px solid black;">
					<span th:text="${#numbers.formatDecimal(-1*invoiceView.invoice.total,1,2)}"></span>
				</td>
			</tr>
			<tr>
				<td class="" colspan="3" style="text-align: right;border-bottom: 0;"></td>
				<td style="text-align: right;" >REMAINING CREDIT</td>
				<td style="text-align: right;"  >
					 0.00
				</td>
			</tr>
		</table>
		
		<br/>
		
		
		<div  th:utext="${invoiceView.invoice.invoiceTermsConditions}" style="padding-top: 100px;">
			Terms &amp; conditions
		</div>
		
		<div style="padding-top: 100px;">
			
			<div style="width: 100%;">
				<img style="width:230px;" th:src="|${urlprefix}/static/templates/administrator/invoice/shear.png|" />
				<img style="width:230px;" th:src="|${urlprefix}/static/templates/administrator/invoice/shear.png|" />
				<img style="width:230px;" th:src="|${urlprefix}/static/templates/administrator/invoice/shear.png|" />
			</div>
			
			<div style="float: left;width: 50%;padding-top: 30px;">
				<h2>CREDIT ADVICE</h2>
				<div>
					Please do not pay on this advice. Deduct the amount of this Credit Note from your nextpay menttous.
					
				</div>
				
				
			</div>		
			<div style="float: left;width: 50%;padding-top: 30px;">
				<table style="text-align: left;">
					<tr>
						<td style="width: 40%;">Customer</td>
						<td style="width: 60%;"><span th:text="${invoiceView.invoice.customerCompanyName}"></span></td>
					</tr>
					<tr>
						<td>Credit Note #</td>
						<td th:text="${invoiceView.invoice.aliasId}"></td>
					</tr>
					<tr>
						<td>Credit Amount</td>
						<td >0.00</td>
					</tr>
				</table>
			</div>		
		</div>
		
		
		<!-- 分页 -->
		<div style="page-break-after: always;"></div>
	</div>
	<!--endprint-->
	
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		
			function printInvoice(){ 
				var bdhtml=window.document.body.innerHTML; 
				sprnstr="<!--startprint-->"; //开始打印标识字符串有17个字符
				eprnstr="<!--endprint-->"; //结束打印标识字符串
				prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17); //从开始打印标识之后的内容
				prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr)); //截取开始标识和结束标识之间的内容
				window.document.body.innerHTML=prnhtml; //把需要打印的指定内容赋给body.innerHTML
				window.print(); //调用浏览器的打印功能打印指定区域
				window.document.body.innerHTML=bdhtml; // 最后还原页面
			}
		
		
		/*]]>*/	
	</script>
	
</body>
</html>