	<th:block th:fragment="urltitle(urltitle)" >
		
	<div th:id="${urltitle}" v-if="partnerArticle!=null">
		<div class="container" >
			<div class="row">
				<div class="col-sm-12 " style="padding: 0;">
				<h3 style="color: #357363;">{{partnerArticle.title}}</h3>
				<hr style="background: #357363;height: 2px;border: none;"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 "  v-html="partnerArticle.content">
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			new Vue({
			el : '#' + [[${urltitle}]],
			data : {
				partnerArticle : '',
				attachments:[]
			},
			created: function() {
				var _this = this;
				axios.get([[|@{/article/api/urlTitle/}${urltitle}|]], {
				    params: {
				     
				    }
				  }).then(function (response){
					  _this.partnerArticle = response.data.article;
				   
				  }).catch(function (error) {
				    console.log(error);
				  }); 
			}
		})
		/*]]>*/
	</script>
	
</th:block>