<th:block th:fragment="product-promote" >
		
	<div  class="container  wow fadeIn delay-1s" id="product-promote" >
			
			<br/>
			<div class="row">
				<div class="col-sm-12" style="padding: 0;">
				<h3 style="color: #357363;" class="wow bounceInDown delay-1s">产品促销</h3>
				<hr style="background: #357363;height: 2px;border: none;"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 col-xs-6 product-list" v-for="(item, index) in recommendProductList" style="">
					<a :href="'/product/'+ item.id" target="_blank" @click="addHistory(item.id,item.productName,item.productNameAlias,item.defaultSrc,item.price1)" >
						<img :src="'/' + item.defaultSrc" :alt="item.productNameAlias" class="img-responsive" style="height: 160px;">
					</a>
				       <div class="caption" >
				        <p>
							<span v-if="item.price3==0">
							<span  :class="item.price2>0 ? 'price-del':'price-color'">${{item.price1}}
							<span v-if="item.price2<=0" >
							<span style="font-size: 12px;">￥</span><span class="price-color">{{item.price1*rate | priceFilter}}</span>
							</span>
							</span> 
							<span v-if="item.price2>0" class="price-color" >${{item.price2}}&nbsp;
							<span style="font-size: 12px;">￥</span><span class="price-color">{{item.price2*rate | priceFilter}}</span>
							</span>
			        	</span>
			        	<span v-else>
							<span  :class="item.price2>0 ? 'price-del':'price-color'">${{item.price3}}
							<span v-if="item.price2<=0" >
							<span style="font-size: 12px;">￥</span><span class="price-color">{{item.price3*rate | priceFilter}}</span>
							</span>
							</span> 
							<span v-if="item.price2>0" class="price-color" >${{item.price2}}&nbsp;
							<span style="font-size: 12px;">￥</span><span class="price-color">{{item.price2*rate | priceFilter}}</span>
							</span>
			        	</span>
				        </p>
			        	 <div style="height: 45px;overflow: hidden;">
			        	<span style="color: grey;font-size: 12px;">{{item.productName }}</span>
				        </div>
			        	
				        <p style="margin-top: 10px;">
							<span class="label label-danger">{{item.label}}</span>
				        </p>
				        <!-- 加入购物车 -->
				        <span v-if="item.price2==0" >
							<button  class="btn btn-default"   @click="addToCart(item.id, item.productName, item.productNameAlias, item.location, item.weight, item.defaultSrc, item.price3)">加入购物车</button>
						</span>
						<span  v-if="item.price2 > 0" >
							<button  class="btn btn-default"   @click="addToCart(item.id, item.productName, item.productNameAlias, item.location, item.weight, item.defaultSrc, item.price2)">加入购物车</button>
						</span>
						<span :id="item.id+ 'remindTxt'" style="color: #e4393c;display: none;" >&#10004;</span>
				        <!-- ！加入购物车 -->
				      </div>
				</div>
			</div> 
			<br/>
		</div>
			<style>
				hr{
					margin-top: 0;
					margin-bottom: 0;
				}
				@media (min-width: 768px){
					.product-list {
						height: 280px;
					}
				}
				@media (max-width: 768px){
					.product-list {
						height: 240px;
					}
				}
				.product-list {
					margin-top: 20px;
					padding: 5px 15px;
					transition: all .5s;
					border: 1px solid #eee;
				}
				
				.product-list:HOVER {
					box-shadow: -3px 0 5px #9FA8AB, 0 -3px 5px #9FA8AB, 0 3px 5px #9FA8AB,3px 0 5px #9FA8AB;
				}
				.price-del{
					font-size: 12px;
					text-decoration: line-through;
				}
				.price-color{
					font-size:14px;
					color: #e4393c;
				}
			</style>
			

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			new Vue({
			el : '#product-promote',
			data : {
				recommendProductList:[
				],
				rate:5.5,
			},
			filters: {
				priceFilter:function(price){
					return price.toFixed(2);
				},
				nameFilter:function(name){
					if(name && name.length > 30) {
						name= name.substring(0,29)+ '...';
					    }
					return name;
				}
			},
			created: function() {
				var _this = this;
				axios.get([[@{/api/product/list/promote?size=36&sortBy=position}]], {
				    params: {
				     
				    }
				  }).then(function (response){
					  _this.recommendProductList = response.data.content;
					  for(var i=0;i< _this.recommendProductList.length;i++){
						  if (!isNaN(_this.recommendProductList[i].price1)) {
							  _this.recommendProductList[i].price1 = _this.recommendProductList[i].price1.toFixed(2);
					        }
						  if (!isNaN(_this.recommendProductList[i].price2)) {
							  _this.recommendProductList[i].price2 = _this.recommendProductList[i].price2.toFixed(2);
					        }
						  if (!isNaN(_this.recommendProductList[i].price3)) {
							  _this.recommendProductList[i].price3 = _this.recommendProductList[i].price3.toFixed(2);
					        }
					  }

				  }).catch(function (error) {
				    console.log(error);
				  }); 
				//汇率
				axios.get([[@{/rate}]], {
					params: {
				    }
				  })
				  .then(function (response){
					  _this.rate = response.data;
				  })
				  .catch(function (error) {
				    console.log(error);
				  }); 
			},
			methods:{
				//添加购物车
				addToCart : function (productId,productName,productNameAlias,location,weight,defaultSrc,price){
					 productAdd(productId,productName,productNameAlias,location,weight,defaultSrc,price,1);
					 $("#"+productId+"remindTxt").show();
				},
				addHistory : function (id,productName,productNameAlias,defaultSrc,price){
					
					addToHistory(id,productName,productNameAlias,defaultSrc,price);
				},
			}
		})
		/*]]>*/
	</script>
	
</th:block>