	<th:block th:fragment="content" >
	
	<script src="#" type="text/javascript" th:src="@{/static/plugin/vue/vue.js}" charset="utf-8"></script>
	<script src="#" type="text/javascript" th:src="@{/static/plugin/vue/axios.min.js}" charset="utf-8"></script>
	<script src="#" type="text/javascript" th:src="@{/static/plugin/vue/vue-form.js}" charset="utf-8"></script>
	<div id="slider-img" >
		<div class="banner" >
			 <ul style="width:800px;">
			 	<li  v-for="item in sliderData" >
					<img width="100%" style="overflow: hidden;" alt=""  :src="'/' + item.filePath"  />
			 	</li>
			 </ul>
		</div>
				
	</div>
	<script th:src="@{/static/templates/web/plugin/unslider/js/unslider.js}"></script>
	<link rel="stylesheet" th:href="@{/static/templates/web/plugin/unslider/css/unslider.css}" />
	<link rel="stylesheet" th:href="@{/static/templates/web/plugin/unslider/css/unslider-dots.css}" />
	
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			new Vue({
			el : '#slider-img',
			data : {
				sliderData:[
				]
			},
			beforeCreate: function() {
				var _this = this;
				axios.get([[@{/api/web/slider/indexSlider}]], {
				    params: {
				     
				    }
				  }).then(function (response){
					  _this.sliderData = response.data;
				   
				  }).catch(function (error) {
				    console.log(error);
				  }); 
				
			},
			updated: function() {
					  /* $("#banners").addClass("banner"); */
				  $('.banner').unslider({
					infinite: true,
					autoplay: true,
					delay:6000,
				});
				
			}
		})
		/*]]>*/
	</script>

</th:block>