	<th:block th:fragment="search(formAction)">
		
		<!-- row 查询表单 -->
		<div class="row">
			<div class="col-sm-12">
				<form  class=" form-inline" id="searchForm" th:action="|@{/}${formAction}|" >
					<div class="form-group">
					      <input type="text" name="q"  th:value="${searchForm.q}" class="form-control" min="0" maxlength="30" placeholder="Search"  />
				  	</div>
				  	&nbsp;
				  	<div class="form-group">
					      <select class="form-control" name="status" >
					      	<option value="-1" >--Status--</option>
					      	<option value="1" th:selected="${searchForm.status==1?true:false}">On line</option>
					      	<option value="0" th:selected="${searchForm.status==0?true:false}">Off line</option>
					      	<option value="2" th:selected="${searchForm.status==2?true:false}">Out stock</option>
					      </select>
				  	</div>
				  	&nbsp;
					<th:block th:replace="/administrator/product/fragment/category-select :: category-select">
					</th:block>
				  	&nbsp;
					<div class="form-group">
					     <label for="dateFrom">From:</label>
					      <input type="date" id="dateFrom" name="dateFrom" th:value="${searchForm.dateFrom}" class="form-control" />
				  	</div>
				  	&nbsp;
					<div class="form-group">
					     <label for="dateTo">To:</label>
					      <input type="date" id="dateTo" name="dateTo"   pattern="dd-MM-yyyy" th:value="${searchForm.dateTo}" class="form-control" />
				  	</div>
				  	&nbsp;
					<div class="form-group">
					     <label for="exampleInputName2"></label>
					     <button type="submit" class="form-control btn-primary" ><i class="fa fa-search" aria-hidden="true"></i></button>
				  	</div>
				  	<!-- required -->
				     <input type="hidden" id="hidden_pageNum" th:name="page" th:value="${number}" />
				     <input type="hidden" id="sort" th:name="sort" th:value="${searchForm.sort}" />
				     <input type="hidden" id="sortBy" th:name="sortBy" th:value="${searchForm.sortBy}" />
				  	 
				  </form>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		    /**
			Sort 排序
			**/
			function colomnSort(colomnName){
				//获取search表单排序字段及赋值
				$("input[name='sortBy']").val(colomnName);
				if($("#sort").val()=="" || $("#sort").val()=="DESC"){
					$("#sort").val("ASC");
				}else{
					$("#sort").val("DESC");
				}
				document.getElementById("searchForm").submit();
			}
		  
		/*]]>*/	
	</script>
</th:block>